# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/

# Maven
target/
*.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Node
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
*.class
*.log

# Environment
.env
.env.*.local

# temp & backup
*_temp/
*.ymlali
