@font-face {
  font-family: "iconfont"; /* Project id 4898818 */
  src: url('iconfont.woff2?t=1744981856074') format('woff2'),
       url('iconfont.woff?t=1744981856074') format('woff'),
       url('iconfont.ttf?t=1744981856074') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kongqizhiliang:before {
  content: "\e6bd";
}

.icon-guangzhaoqiangduicon:before {
  content: "\e601";
}

.icon-youduqiti:before {
  content: "\e62b";
}

.icon-youduqiti1:before {
  content: "\e62d";
}

.icon-kongqizhiliang1:before {
  content: "\e615";
}

.icon-kongqizhiliang2:before {
  content: "\e60a";
}

.icon-wenshidu:before {
  content: "\e620";
}

.icon-kongqijiance:before {
  content: "\e63d";
}

.icon-jiance-guangzhaoqiangdu:before {
  content: "\e7aa";
}

.icon-wenshidu1:before {
  content: "\e644";
}

.icon-huanjingwenshidu:before {
  content: "\e706";
}

.icon-youduqiti2:before {
  content: "\e641";
}

.icon-guangzhaoqiangdu:before {
  content: "\e684";
}

.icon-kongqizhiliang3:before {
  content: "\e63e";
}

.icon-guangzhaoqiangdu1:before {
  content: "\e694";
}

.icon-xingzhuangjiehe:before {
  content: "\e6c5";
}

.icon-youduqiti3:before {
  content: "\e6c6";
}

.icon-wenshidu-shidu:before {
  content: "\e6c3";
}

.icon-guangzhaoqiangdu2:before {
  content: "\e600";
}

.icon-youduqiti4:before {
  content: "\e602";
}

