@font-face {
  font-family: "iconfont"; /* Project id 4891393 */
  src: url('iconfont.woff2?t=1744980988332') format('woff2'),
       url('iconfont.woff?t=1744980988332') format('woff'),
       url('iconfont.ttf?t=1744980988332') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tongzhi:before {
  content: "\e600";
}

.icon-yuan1:before {
  content: "\e657";
}

.icon-24gf-circle:before {
  content: "\ea9f";
}

.icon-24gl-circle:before {
  content: "\ea97";
}

.icon-yuan:before {
  content: "\edf8";
}

.icon-danrenchuang1:before {
  content: "\e650";
}

.icon-a-2zhangdanrenchuang:before {
  content: "\e7b5";
}

.icon-danrenchuang2:before {
  content: "\e689";
}

.icon-yiruzhu:before {
  content: "\e630";
}

.icon-buzhanchuangwei:before {
  content: "\e607";
}

.icon-tubiao-reshuihu:before {
  content: "\e69f";
}

.icon-chuanglian:before {
  content: "\e631";
}

.icon-chuanglian1:before {
  content: "\e64e";
}

.icon-danrenchuang:before {
  content: "\e655";
}

.icon-tubiaozhizuomoban-:before {
  content: "\e628";
}

.icon-WiFi:before {
  content: "\e616";
}

.icon-icon-test:before {
  content: "\e649";
}

.icon-keting:before {
  content: "\e60f";
}

.icon-huijia:before {
  content: "\e66f";
}

.icon-chuanglian2:before {
  content: "\e648";
}

.icon-ladideng:before {
  content: "\e610";
}

.icon-chuang:before {
  content: "\e611";
}

.icon-deng:before {
  content: "\e6bc";
}

.icon-jinriyuli-:before {
  content: "\e613";
}

.icon-reshuihu:before {
  content: "\e608";
}

.icon-zhaipaibaoliu:before {
  content: "\e686";
}

.icon-keting1:before {
  content: "\e603";
}

.icon-yushi:before {
  content: "\e65a";
}

.icon-dichan-yushi:before {
  content: "\e65b";
}

.icon-wifi-router:before {
  content: "\e6e8";
}

.icon-fengshan:before {
  content: "\e67b";
}

.icon-LyingDown:before {
  content: "\e688";
}

.icon-a-leixingreshuihu:before {
  content: "\e6b0";
}

.icon-fengshan1:before {
  content: "\e619";
}

.icon-mti-WIFItanzhen:before {
  content: "\e975";
}

